:root {
    --main: #E8F9FF;
    --second: #C4D9FF;
    --third: #C5BAFF;
}

body {
    background-color: var(--main);
}

header {
    position: relative;
    background-color: var(--second);
}

.profile img, .profile div {
    position: relative;
    bottom: 100px;
}

.profile img {
    border: var(--third) solid 4px;
}

.wave {
    position: absolute;
    bottom: -1px;
}