:root {
    --main: #E8F9FF;
    --second: #C4D9FF;
    --third: #C5BAFF;
}

body {
    background-color: var(--main);
}

.jumbotron  {
    background-color: var(--second);
}

header {
    background-color: var(--second);
}

.jumbotron img {
    border: var(--third) solid 4px;
}